.skillSlider {
    width: auto !important;
}

::-webkit-scrollbar {
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Đối với màn hình có độ rộng <= 1200px */
@media (max-width: 1200px) {
    .containerBody {
        max-width: none !important;
        margin: 0px 30px !important;
    }
}

/* Đối với màn hình có độ rộng <= 992px */
@media (max-width: 992px) {}

/* Đối với màn hình có độ rộng <= 768px */
@media (max-width: 768px) {
    .containerInfoRes {
        justify-content: flex-start !important;
    }

    .containerInfoRes .titleAboutCustomer {
        text-align: left !important;
    }

    .containerInfoRes .cardContract {
        margin: 10px 0 20px !important;
    }

    .buttonLogin {
        display: flex !important;
    }
}

/* Đối với màn hình có độ rộng < 576px */
@media (max-width: 575.98px) {
    .containerBody {
        margin: 0px !important;
    }
}