.ant-btn {
  color: #02ADFD;
  border-radius: 12px;
  border: 1px solid var(--artyclick-sky-blue, #02ADFD);
  background: var(--background, #FFF);
}

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
}
