body {
  margin: 0;
}

.ant-typography  a {
  color: #02ADFD
}
.ant-btn-primary {
  color: #FFF;
  border-radius: 12px;
  border: 1px solid var(--artyclick-sky-blue, #02ADFD);
  background: #02ADFD;
}

.ant-btn-default {
  color: #02ADFD;
  border-radius: 12px;
  border: 1px solid var(--artyclick-sky-blue, #02ADFD);
  background: var(--background, #FFF);
}

.ant-modal-content {
  padding: 0 !important;
}

.ant-layout-footer .ant-list-tem {
  padding: 0 !important;
}

.swiper-button-next button, .swiper-button-prev button{
  border: none;
  box-shadow:  3px 3px 3px rgba(0, 0, 0, 0.25);
  color: #000;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: none !important;
}

:where(.css-dev-only-do-not-override-1651f0q).ant-card .ant-card-body{
  padding: 0px !important;
}