body {
  margin: 0;
  background-color: #F7F8F9
}

#root > div > .ant-breadcrumb {
  padding: 10px 20px; margin:  20px 0 30px 0 }

.ant-breadcrumb > ol {
  min-width: 360px
}

.ant-typography  a {
  color: #02ADFD
}

.ant-menu a {
  color: #013042
}

.ant-btn-primary {
  color: #013042;
  border-radius: 25px;
  border: 1px solid var(--bluish-cyan, #89DBE9);
  background: var(--bluish-cyan, #89DBE9);
  font-weight: 700;
}

.ant-btn-primary:not(:disabled):hover {
  color: #013042;
  border-radius: 25px;
  border: 1px solid var(--bluish-cyan, #89DBE9);
  background: var(--bluish-cyan, #89DBE9);
  font-weight: 700;
}

.ant-btn-default {
  color: #02ADFD;
  border-radius: 12px;
  border: 1px solid var(--artyclick-sky-blue, #02ADFD);
  background: var(--background, #FFFFFF);
}

.ant-btn-default.ant-btn-dangerous {
  color: white;
  border-radius: 25px;
  border: 1px solid var(--Error, #EB4335);
  background: var(--Error, #EB4335);
  font-weight: 700;
}

.ant-btn-primary.ant-btn-lg {
  color: #013042;
  border-radius: 25px;
  font-weight: 700;
}

.ant-btn-primary.ant-btn-lg:not(:disabled):hover {
  color: #013042;
  border-radius: 25px;
  font-weight: 700;
}


.ant-modal-content {
  padding: 0 !important;
}

.ant-layout-footer .ant-list-tem {
  padding: 0 !important;
}

.edit-job .ant-select-selection-item,
.post-job .ant-select-selection-item {
  background-color: var(--Alice-Blue, #EDF6FF);
  color: var(--Blue-Whale, #013042);
}

.edit-job .ant-select-multiple .ant-select-selection-item,
.post-job .ant-select-multiple .ant-select-selection-item {
  background-color: var(--Alice-Blue, #EDF6FF);
  color: var(--Blue-Whale, #013042);
}

.edit-job .ant-select-multiple.ant-select-lg .ant-select-selection-item,
.post-job .ant-select-multiple.ant-select-lg .ant-select-selection-item {
  background-color: var(--Alice-Blue, #EDF6FF);
  color: var(--Blue-Whale, #013042);
}

.swiper-button-next button, .swiper-button-prev button{
  border: none;
  box-shadow:  3px 3px 3px rgba(0, 0, 0, 0.25);
  color: #000;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: none !important;
}

.ant-card .ant-card-body{
  padding: 0px !important;
}

.ant-menu-submenu.ant-menu-submenu-inline .ant-badge-status-dot.ant-badge-status-default {
  width: 20px;
  height: 20px;
}

.appoinment-list .ant-menu-inline .ant-menu-item {
  height: auto
}

/* Scroll */

.skillSlider {
  width: auto !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555 ;
}


/* job management */

.trackingJobs .ant-card-head, .trackingJobs .ant-tabs-nav-wrap{
  border-bottom: 1px solid #000 !important;
}



.trackingJobs .ant-card .ant-card-head{
  min-height: auto;
}

.trackingJobs .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn{
  color: #000;
  font-weight: 700 !important;
  font-size: 16px;
}

.trackingJobs .ant-tabs .ant-tabs-ink-bar{
  background: #000 !important;
}

.trackingJobs .ant-tabs-tab{
  padding: 10px !important;
}

.skillArticle .ant-list .ant-row {
  flex-flow: nowrap !important;
  margin-block-end: 10px !important;
}

/* Modal primary */

.modalPrimary{
  width: 690px !important;
}

.modalPrimary .ant-modal-header{
  padding: 15px;
  margin: 0;
}

.modalPrimary .ant-modal-title{
  font-size: 20px !important;
}

.modalPrimary .ant-modal-body{
  padding: 0 15px 20px;
}

.modalPrimary .ant-modal-footer{
  padding: 20px 10px;
  margin: 0;
}

.modalPrimary .ant-modal-footer .ant-btn-primary{
  font-weight: 700;
  font-size: 16px;
  height: auto;
  padding: 12px 32px;
  border-radius: 25px;
  border: none;
  box-shadow: none;
}

.modalPrimary .ant-modal-footer .ant-btn-default{
  font-weight: 700;
  font-size: 16px;
  height: auto;
  padding: 12px 32px;
  border-radius: 25px;
  border: none;
  box-shadow: none;
}

.modalPrimary .ant-input,
.modalPrimary .ant-input-number-affix-wrapper,
.modalPrimary .ant-select-selector,
.modalPrimary .searchInput .ant-input-group-addon {
  height: 45px !important;
  border-radius: 8px !important;
  background: #FFF !important;
  align-items: center;
}

.modalPrimary .searchInput{
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10) !important;
}

/* .modalPrimary .ant-select .ant-select-selector{
  border: none!important;
} */

.modalPrimary .searchInput .ant-input-wrapper .ant-input-group-addon{
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: none !important;
  box-shadow: none !important;
  padding-right: 0;
}

.modalPrimary .searchInput .ant-input-wrapper .ant-input{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  box-shadow: none !important;
  border-left: none !important;
}

.modalPrimary .introText{
  border-radius: 8px !important;
  border: 0.25px solid #000 !important;
  background: #FFF !important;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10) !important;
}

.modalPrimary .introText textarea{
  height: auto !important;
}
.modalPrimary .introText

.modalPrimary .introText .ant-input{
  border: none!important;
  box-shadow: none !important;
}

.modalPrimary .ant-input-number-prefix{
  padding-right: 8px;
}

.modalPrimary .ant-select{
  width: 100% !important;
}

.modalPrimary .skillSelect .ant-select-selector {
  border-radius: 10px !important; 
  border: 0.5px solid #000 !important;
  height: 48px !important;
}

.modalPrimary .skillSelect .ant-select-selector .ant-select-selection-overflow{
  gap: 10px;
}

.modalPrimary .skillSelect .ant-select-selector .ant-select-selection-overflow .ant-select-selection-item {
  display: flex;
  padding: 5px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: var(--Alice-Blue, #EDF6FF);
}
.modalAlert .ant-modal-footer .ant-btn-primary{
  background-color: var(--Error, #EB4335) !important;
  color: var(--White, #FFF) !important;
}
/* 
.modalDisabled .ant-modal-footer .ant-btn-primary{
  background-color: var(--Disabled, #7a7b7c) !important;
  color: var(--White, #FFF) !important;
} */

.notification.ant-menu-inline >.ant-menu-item, 
.ant-menu-vertical >.ant-menu-item, 
.ant-menu-inline >.ant-menu-submenu>.ant-menu-submenu-title, 
.ant-menu-vertical >.ant-menu-submenu>.ant-menu-submenu-title {
  height: fit-content
}

.ant-collapse-content {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

/* responsive */


@media (max-width: 1200px) {
  .containerBody {
      max-width: none !important;
      margin-left: 30px !important;
      margin-right: 30px !important;
  }
}

/* Đối với màn hình có độ rộng < 768px */
@media (max-width: 767.98px) {
  .containerBody {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .ant-picker-dropdown .ant-picker-panel-container .ant-picker-panels{
  flex-direction: column !important;
 }
}


/* Đối với màn hình có độ rộng < 576px */
@media (max-width: 575.98px) {
}

